<td>Employee Details</td>
<table border="1">



	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>Gender</th>
			<th>Salary</th>
			<th>Date Of Birth</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor='let employee of employeeList'>
			<td>{{employee.code}}</td>
			<td>{{employee.name}}</td>
			<td>{{employee.gender}}</td>
			<td>{{employee.sal}}</td>
			<td>{{employee.dob}}</td>
		</tr>
	</tbody>
	<tr *ngIf='!employeeList || employeeList.length==0'>
	  <td colspan='5'>
	    No Employee details Display  !!!
	   
	   </td>
	</tr>
</table>
<button (click)='getFullEmploye()'>Refresh Details</button>



